/* RESET CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* FIM RESET */

@font-face {
    font-family: 'mont';
    src: url(Assets/Montserrat-VariableFont_wght.ttf);
}

/* HEADER */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 250px;
}

.item {
    font: 400 30px 'mont', sans-serif;
    color: #678471;
}

.item:hover {
    font: 400 35px 'mont', sans-serif;
    color: #FFA36A;
    transition: 0.3s;
}

/* FIM HEADER */

/* DIVISÃO */
.divisao {
    height: 1px;
    background-color: #47564C;
    margin: 15PX 0;
}

/* DIVISÃO */

/* NOSSA COMIDA */
.cozinhando {
    width: 500px;
    border-radius: 5px;
}

.titulo {
    font: 500 40px 'mont', sans-serif;
    color: #47564C;
    margin-bottom: 20px;
}

.texto {
    font: 300 20px 'mont', sans-serif;
    text-align: justify;
}

#nossaComida {
    margin: 0 70px;
}

#nossaComida .conteudo {
    margin-left: 30px;
}

/* FIM NOSSA COMIDA */

/* NOSSA EQUIPE */
#nossaEquipe {
    margin: 0 70px;
}

.panela {
    width: 500px;
    border-radius: 5px;
}

#nossaEquipe .conteudo {
    margin-right: 30px;
}

/* FIM NOSSA EQUIPE */

/* CARDÁPIO */
.comida {
    width: 100px;
}

.comida:hover {
    width: 130px;
    transition: 0.3s ease-in-out;
}

.pratos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.prato {
    border: 2px solid black;
    width: 300px;
    text-align: center;
    margin: 15px 30px;
    padding: 15px;
}

.cardapio {
    margin: 0 70px;
}

.prato-texto {
    font: 300 12px 'mont', sans-serif;
    text-align: justify;
}



.prato-nome,
.prato-preco {
    font: 600 15px 'mont', sans-serif;
}

/* FIM CARDÁPIO */

/* RODAPÉ */
#contato {
    background: #678471;
}

.amm {
    font: 600 35px 'mont', sans-serif;
    color: #fff;
}

.cs {
    font: 400 25px 'mont', sans-serif;
    color: #FFA36A;
}

.nome {
    text-align: center;
}

.icone {
    width: 30px;
    margin: 12px;
}

.rede {
    display: flex;
    text-align: center;
}

.rede-nome {
    color: #fff;
    font: 400 20px 'mont', sans-serif;
    margin-top: 15px;
}

.endereco-nome {
    color: #fff;
    font: 500 24px 'mont', sans-serif;
}

.endereco-descricao {
    color: #fff;
    font: 400 20px 'mont', sans-serif;
}

.endereco {
    width: 500px;
}

.contatos {
    padding: 40px;
}

/* FIM RODAPÉ */

html {
    scroll-behavior: smooth;
}

@media screen and (max-width:400px) {
    .container, .conteudo {
        margin: 0;
        border: 0;
        padding: 0;
    }

    #nossaComida .container {
        flex-direction: column;
    }

    #nossaEquipe .container {
        flex-direction: column-reverse;
    }

    #contato .container {
        flex-direction: column;
    }

    .cozinhando, .panela {
        width: 80vw;
    }

    .titulo {
        font-size: 30px;
    }

    .item {
        font-size: 8px;
    }

    #nossaComida, #nossaEquipe {
        margin: 0 0 25px;
    }

    #header .container {
        flex-wrap: wrap;
    }

    .logo {
        width: 100vw;
    }

    .nome, .redes, .endereco {
        padding-bottom: 10px;
    }

    .amm {
        font-size: 25px;
    }

    .cs {
        font-size: 20px;
    }

    .rede-nome {
        font-size: 18px;
    }

    .endereco-descricao {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
    }

    .endereco-nome {
        font-size: 22px;
    }

    .endereco {
        width: 80vw;
    }

    .prato{
        margin: 15px;
    }

    .cardapio {
        margin: 15px;
    }

    .conteudo {
        margin-left: 0;
        margin-right: 0;
        margin: 0 15px;
    }

    #header .container img {
        display: block;
        margin: 0 30vw;
    }
}

@media screen and (min-width:401px) and (max-width:768px){
    .container, .conteudo {
        margin: 0;
        border: 0;
        padding: 0;
    }

    #contato .container {
        flex-wrap: wrap;
    }

    .cozinhando, .panela {
        margin-left: 25px;
        width: 40vw;
    }

    .panela {
        margin-right: 25px;
    }

    .titulo {
        font-size: 25px;
    }

    .texto {
        font-size: 18px;
    }

    .item {
        font-size: 15px;
    }

    #nossaComida, #nossaEquipe {
        margin: 0 10px 25px;
    }

    #header .container {
        flex-wrap: wrap;
    }

    .logo {
        width: 35vw;
    }

    .nome, .redes, .endereco {
        padding-bottom: 10px;
    }

    .amm {
        margin-top: 20px;
        font-size: 25px;
    }

    .cs{
        font-size: 20px;
    }

    .rede-nome, .icone {
        margin-top: 40px;
        font-size: 20px;
    }

    .endereco-descricao {
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
    }

    .endereco-nome {
        text-align: center;
        font-size: 22px;
    }

    .endereco {
        margin-top: 20px;
        text-align: center;
        width: 80vw;
    }

    .prato {
        margin: 15px;
    }

    .cardapio {
        margin: 15px;
    }

    .conteudo {
        margin-left: 0;
        margin-right: 0;
        margin: 0 15px;
    }

    #header .container img {
        display: block;
        margin: 0 30vw;
    }

}